*.class
**/*.class
/scripts/scala/camel/camel-sandbox/target
/scripts/clojure/fleetdb/test_fleetdb_clojure/target
/scripts/scala/scala-2.10-spring-3.2-playground/target
/scripts/scala/coherence-playground/bin
/scripts/c++/cPlusPlusPlayground/ipch
/scripts/c++/cPlusPlusPlayground/Debug
/scripts/c++/cPlusPlusPlayground/ipch
/scripts/c++/cPlusPlusPlayground/Debug
*.exe
scripts/scala/scala_11_akka_23_full_playground/project/project/target/config-classes/$5b6108a4f3464dbde88f.cache
scripts/scala/scala_11_akka_23_full_playground/project/project/target/config-classes/$6fb2f4529c8c85fba76a.cache
*.cache
*.history
*.css
*.xml
scripts/scala/scala_11_akka_23_full_playground/target/resolution-cache/reports/ivy-report.xsl
scripts/scala/scala_11_akka_23_full_playground/target/resolution-cache/scala_211_akka_23_full_playground/scala_211_akka_23_full_playground_2.11/1.0/resolved.xml.properties
scripts/scala/scala_11_akka_23_full_playground/target/streams/$global/ivyConfiguration/$global/streams/out
scripts/scala/scala_11_akka_23_full_playground/target/streams/$global/ivySbt/$global/streams/out
scripts/scala/scala_11_akka_23_full_playground/target/streams/$global/projectDescriptors/$global/streams/out
scripts/scala/scala_11_akka_23_full_playground/target/streams/$global/update/$global/streams/inputs
scripts/scala/scala_11_akka_23_full_playground/target/streams/$global/update/$global/streams/out
scripts/scala/scala_11_akka_23_full_playground/target/streams/$global/update/$global/streams/output
scripts/scala/scala_11_akka_23_full_playground/target/streams/compile/unmanagedJars/$global/streams/export
scripts/scala/scala_11_akka_23_full_playground/target/streams/runtime/unmanagedJars/$global/streams/export
scripts/scala/scala_11_akka_23_full_playground/target/streams/test/externalDependencyClasspath/$global/streams/export
scripts/scala/scala_11_akka_23_full_playground/target/streams/test/managedClasspath/$global/streams/export
scripts/scala/scala_11_akka_23_full_playground/target/streams/test/unmanagedClasspath/$global/streams/export
scripts/scala/scala_11_akka_23_full_playground/target/streams/test/unmanagedJars/$global/streams/export