//- For more information about Jade, please look at jade-lang.com/reference/
doctype html

html
  title Express 4 - Tutorial
  body
    h1 Awesome, you made it here!
    p Welcome to Node and Express with template engine Jade it: #{title}
