<h1>
  {{title}}
</h1>

<form name="myForm" ng-controller="ExampleController">
  <label>First Name:
    <input type="text" name="input" ng-model="example.text"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <BR/>
  <label>Last Name:
    <input type="text" name="input" ng-model="example.text"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <BR/>
  <label>Email Name:
    <input type="text" name="input" ng-model="example.text"
           ng-pattern="example.word" required ng-trim="false">
  </label>
 </form>
