<app-section>
  <app-header></app-header>
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
          <app-progress></app-progress>
      </div>
      <div class="col-sm-6">
          <app-attempts></app-attempts>    
      </div>
      <div class="col-sm-6">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Translate the prhase: </label>
            <label for="exampleFormControlTextarea1">The book is on the table</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>      
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-primary">Validate Awnser</button>
        </div>
    </div>
  </div>
</app-section>