---
name: kappa-simple
environments:
  dev:
    profile: default
    region: us-west-2
    policy:
      resources:
        - arn: arn:aws:logs:*:*:*
          actions:
            - "*"
  prod:
    profile: default
    region: us-west-2
    policy:
      resources:
        - arn: arn:aws:logs:*:*:*
          actions:
          - "*"
lambda:
  description: A very simple Kappa example
  handler: main.handler
  runtime: python2.7
  memory_size: 128
  timeout: 3
